body {
  background: #e9ebee none repeat scroll 0 0 !important;
  color: #444444 !important;
  font-family: arial !important;
  line-height: 25.2px;
  overflow-x: hidden;
}
/* latin-ext */

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


 /* background: rgba(0, 0, 0, 0) url("../images/header.jpg") repeat scroll 0 0;*/
.header {
  background: #0393da none repeat scroll 0 0;
}

.ui-accordion-content.ui-corner-bottom.ui-helper-reset.ui-widget-content.ui-accordion-content-active {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0!important;
}
.nav > li > a {
  display: block;
  padding: 10px 11px!important;
  position: relative;
}
.secondlogo a > img {
  margin-left: 28%;
  margin-top: 16%;
}
.email input {
  width: 58%;
  margin-left: 15%;
  margin-top: 22px;
}
.email input {
  border-bottom: 1px solid #c6c6c6;
  border-style: none none solid;
  border-width: medium medium 1px;
  margin-top: 22px;
  width: 92%;
  /*height: 33px;*/
  padding-left: 10px;
  border-radius: 4px;
  background-color: #e9ebee;
}
.footer li {
  float: left;
  margin-left: 37px;
  text-align: center;
  list-style: none;
}
.footer a {
  color: #5e5e5e;
}
.col-md-12.timeline.top {
  padding-left: 0px;
  padding-right: 0px;
}
.email .sub {
  background: #639a4e;
  color: #ffffff;
  font-family: varela !important;
  font-size: 15px;
  font-weight: 600;
  padding: 2px 0;
  width: 53%;
}
.link1 > li {
  list-style: outside none none;
  margin-right: 106px;
  margin-top: 17px;
  text-align: center;
}
.container > ul {
  margin-left: 4%;
}
.stay input {
  width: 4%!important;
 
}
.footer {
  border-top: 1px solid #898989;
}

/*Home Page nk*/
.navbar-header1{
 width:100%;
 }
.searchbox1 input {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #ffffff;
  margin-top: 8px;
  padding: 5px;
  position: relative;
  width: 100%;
}
.searchbox1 button {
  background: #eeeeee none repeat scroll 0 0;
  border: medium none;
  font-size: 19px;
  padding: 2px 19px 1px 15px;
  position: absolute;
  right: 17px;
  top: 9px;
}
.col-md-4.searchbox1 input:focus {
  color: #000!important;
}
.logo2 img {
  height: auto;
  width: 51%;
  margin-top: 8px;
}
.friends {
  float: right;
  width: 69%;
}
.pro > li {
  color: #ffffff;
  float: left;
  list-style: outside none none;
  margin-top: 15px;
}
.time {
  font-size: 25px;
  margin-top: 7px !important;
  padding: 0 18px 4px 0;
}
.col-md-2.friends1 {
  padding-right: 0px;
}
.searchbox1 button:hover {
  color:#000;
}
.fa.fa-search {
  color: #737373;
}
.col-md-4.searchbox1 input:focus {
  color: #fff;
}
.friends li {
  float: left;
  list-style: outside none none;
  margin-left: 2%;
  margin-top: 13px;
}
.sidebarfirst {
 
  margin-top: 3.9%;
  padding-left: 0;
}

.uploadthis {
  margin-top: 5%;
}
.comment {
  background: #fff;
  margin-left: 4%;
}
.comment li {
  list-style: outside none none;
  margin-top: 13px;
}
.comment > ul {
  padding-left: 11px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #6B6B6B;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #6B6B6B;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #6B6B6B;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #6B6B6B;
}
.uploadthis {
  background: #fff;
  
}
.col-md-2.comment1 {
  padding-left: 0;
}
.comment1 {
  border-right: 1px solid #c7c7c7;
}
.comment > ul {
  text-align: center;
}
/*.col-md-12.top {
  padding-left: 0px;
  padding-right: 0px;
}*/
.whatsnew {
  
  color: #5a5a5a;
  margin-top: 7px;
  padding: 0 4px 5px;
  width: 100%;
}
.hoe-has-menu > a {
  margin-left: 28px!important;
}
.textarea12 {
  border: medium none;
  height: 107px;
  padding: 11px;
  width: 100%;
}
.upbackground {
  padding: 7px;
}
.nameheading {
  border-bottom: 1px solid #a7a7a7;
  color: #696969;
  font-weight: 600;
  padding: 4px;
}
.viewseaction > li {
  float: left;
  list-style: none;
  margin-left: 15px;
}
.viewseaction {
  padding-left: 0;
}
.views1 {
  border-top: 1px solid #b7b7b7;
  padding: 6px;
  width: 100% !important;
}
.col-md-12.views1 {
  padding-left: 0px;
  padding-right: 0px;
}
.col-md-12.uploadthis {
  padding-left: 0px;
  padding-right: 0px;
}
.col-md-2.postsmallimage > img {
  width: 100%;
  min-height: 48px;
}
.fa.fa-map-marker {
  color: #787878;
}
.viewseaction .fa.fa-picture-o {
  color: #787878;
}
.viewseaction > li {
  opacity: 0.57;
}
.fa.fa-video-camera {
  color: #787878;
}
.uploadthis {
  margin-top: 11%;
}
.top{
 margin-top:14px;
 }
.newuploadeimage > img {
  min-height: auto;
  width: 100%;
}
.upbackground{
 background:#fff;
 }
 .col-md-12.uploadthis {
  width: 100%;
}
.col-md-10.padingnot {
  padding-left: 0;
  padding-right: 0;
}
.col-md-2.postsmallimage > img {
  box-shadow: 0 0 1px 0 #888888;
  height: 75px;
  left: 0;
  position: absolute;
  right: 0;
  top: -9px;
  width: 80px;
}
.postsmallimage {
  border-bottom: 10px solid rgba(0, 0, 0, 0);
/*  border-right: 16px solid #ffffff;
  border-top: 11px solid rgba(0, 0, 0, 0);*/
  height: 0;
  margin-top: 9px;
}
.likethis > li {
  float: left;
  font-size: 14px;
  height: 24px;
  list-style: outside none none;
  margin-top: 10px;
  padding: 0 19px 1px 0;
  text-align: left;
}
.likethis a {
  color: #7b7b7b;
}
.commentimages > img {
  border: 1px solid #8f8f8f;
  min-height: 50px;
  width: 100%;
}
.bordertop {
  border-top: 1px solid #c2c2c2;
  width: 100% !important;
}
.col-md-10.upbackground {
  padding-left: 0px;
  padding-right: 0px;
}
.newuploadeimage > img {
  padding: 9px;
}
.col-md-10.upbackground > p {
  padding: 0px 0px 8px 15px;
}
.likethis {
  padding-left: 9px;
}
.commentimages1 > img {
  border: 1px solid #8f8f8f;
  min-height: 33px;
  width: 100%;
}
.tobheader {
  margin-top: 5.6%;
}
.costomize {
  margin-top: -2.7% !important;
  width: 100% !important;
}
.tending > ul {
  padding-left: 11px!important;
}
.col-md-3.tobheader {
  padding-left: 0px;
}
.col-md-12.topnew12 {
  padding-left: 0;
  padding-right: 0;
}
.costomize > p {
  padding: 6px;
}
.fa.fa-sort-desc {
  float: right;
  font-size: 18px;
  color: #6b6b6b;
}
.tending > p {
  background: #fff;
  padding: 4px;
  border-bottom: 1px solid #afafaf;
}
.tending {
  background: #ffffff none repeat scroll 0 0;
  float: left;
  width: 100%;
}
.tending li {
  list-style: outside none none;
  
}
.tending > ul {
  float: left;
}

.tending > ul {


  text-align: center;
}
.tending li {
  padding: 8px 16px 10px 0;
}
.tending > p {
  background: #EEEEEE none repeat scroll 0 0;
  border-bottom: 1px solid #afafaf;
  margin-bottom: 0;
  padding: 8px 1px 6px 7px;
}
.tending > ul {
  margin-bottom: 0;
}
.rightsidebar {
  background: #ffffff none repeat scroll 0 0;
  margin-top: 4%;
}
.rightsidebar img {
  border-radius: 50%;
  margin-left: 8px;
  min-height: 40px;
  width: 40px;
}
.rightsidebar li {
  list-style: none;
  float: left;
}
.rightsidebar li {
  border-bottom: 1px solid #e6e6e6;
  cursor: pointer;
  font-family: Arial !important;
  padding-bottom: 4px;
  padding-right: 4px;
  padding-top: 4px;
  width: 224px;
}
.rightsidebar > ul {
  float: left;
  padding-left: 0;
}
.rightsid{
 background:#fff;
 }
 .whethe {
  margin-top: 27%;

}
.online {
  background: #008000 none repeat scroll 0 0;
  border-radius: 5px;
  color: #ffffff;
  font-size: 11px;
  margin-top: 13px;
  padding: 0 6px;
}
.rightsidebar li:hover {
  background: #eeeeee;
}
.col-md-2.rightsid {
  padding-left: 0px;
  padding-right: 0px;
}
/*charbox*/
.chatbox {
  background: #c9c9c9 none repeat scroll 0 0;
  height: 271px;
  margin-left: 3%;
  margin-top: -78px;
  position: fixed;
  width: 279px;
}
.headchat {
  background: #577aa0 none repeat scroll 0 0;
  float: left;
  list-style: outside none none;
  padding: 4px 2px 4px 8px;
  width: 100%;
}
.headchat > li {
  padding: 0 0 0 13px;
}
.headchat a {
  color: #ffffff;
}
.headchat > li {
  float: left;
}

.headchat a:hover {
  color: #EAEBEF!important;
  opacity: inherit!important;
}
.letastchat img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.letastchat > li {
  list-style: none;
}
.letastchat img {
  margin-left: -12%;
}
.chatupdate1 {
  background: #fff;
  padding: 10px 18px 10px 10px;
  width: 100%!important;
  
}
.col-md-10.upbackground > p {
  font-size: 13px;
}
.rightsid {
  float: right!important;
}
.coverphoto > img {
  width: 100%;
}
.coverphoto {
  background: rgba(0, 0, 0, 0) url("../images/coverphoto.jpg") repeat scroll 0 0;
  height: 297px;
  margin-top: 8%;
  width: 100%;
}
.homeprofilepic > img {
  border: 2px solid #ffffff;
  border-radius: 50%;
  height: 100px;
  margin-top: 0;
  width: 100px;
}
.profilename {
  color: #4a4a4a;
  font-weight: 600;
  text-align: center;
}

.coverphoto li {
  float: left;
  list-style: outside none none;
 
  padding: 6px 0;
}
.timeline {
  padding-left: 0;
  padding-right: 0;
}
.coverphoto a {
  color: #fff;
  font-size: 17px;
  font-weight: 600;
}
.topmenu {
	background: RGBA(57, 56, 54, 0.72) !important;
	float: left;

	width: 100%;
}
.topmenu a:hover {
  color: #D2D2D2;
}

.work {
  padding-left: 0px!important;
}
.addr > li {
  list-style: none;
  line-height: 36px;
}
.col-md-12.top span {
  font-family: verdana !important;
  font-size: 14px !important;
}
.col-md-12.top li {
  list-style: none;
}
.workad {
  padding-left: 0px;
}
.workad > li {
  margin-top: 7px;
  border-bottom: 1px solid #dcdcdc;
}
.workad > li {
  padding: 0 0 20px 1px;
}
.workad a {
  color: #5f5f5f!important;
  font-size: 13px !important;
}
.work > li {
  border-bottom: 1px solid #c0c0c0;
  padding: 13px 0 7px;
}
.numberver {
  float: right;
}
.numberver {
  clear: both;
  float: right !important;
}
.contactinformation > li {
  line-height: 43px;
  border-bottom: 1px solid #cdcdcd;
}
.numberver {
  color: #000000;
  font-family: "Lucida Grande" !important;
  font-size: 15px !important;
}
.contactinformation > li {
  color: #585858;
}
.work a {
  font-family: verdana;
  font-size: 13px;
}
.friendslist img {
  border-radius: 50%;
  min-height: 100px;
  width: 100px;
}
.col-md-4.friendsnew {
  padding-left: 0px;
}
.friendslist {
  padding-left: 0px;
}
.friendslist > li {
  background: #fdfdfd none repeat scroll 0 0;
  border: 1px solid #c0c0c0;
  float: left;
  margin: 2px 0 3px 4px;
  padding: 7px 21px 7px 29px;
}
.galleryimage img {
  float: left;
  min-height: 144px;
  width: 25%;
}
.galleryimage {
  padding-left: 0px;
  padding-right: 0px!important;

}
.galleryimage {
  float: left;
}
.photo img:hover{
 -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  }
.creatpage {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  box-shadow: 0 0 10px 1px #404040;
  margin-top: 54px;
  position: absolute;
  right: 33%;
  z-index: 999;
}
.creatpage > ul {
  padding-left: 0px;
}
.creatpage li {
  list-style: outside none none;
  padding: 4px 47px;
}
.creatpage a {
  color: #000000;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 26px;
}
.toppungi {
  border-bottom: 15px solid #ffffff;
  border-left: 12px solid rgba(0, 0, 0, 0);
  border-right: 12px solid rgba(0, 0, 0, 0);
  float: right;
  height: 0;
  margin-right: 16px;
  margin-top: -14px;
  width: 0;
}
.creatpage li {
  border-bottom: 1px solid #eeeeee;
}
.creatpage{
display:none;
}
.creatpage li:hover {
background:#eee;
}
a:focus, a:hover {
  color: #23527c;
  text-decoration: none!important;
}
#ui-id-4{
 background:#fff!important;
 }

.active > a {
  color: #b6cece;
  padding: 7px 12px 4px;
}
.readmor > li {
  float: none;
}
.readmor a {
  font-weight: 300;
  font-size: 13px;
  color:#000;
}
.readmor {
  background: #fff;
  padding-left: 0px;
}
.topmenu > li {
  padding: 4px 15px 4px 15px!important ;
}
.readmor > li {
  text-align: center;
  border-bottom: 1px solid #efefef;
}
.display22{
 display:none;
 }
.readmor {
  box-shadow: 0 6px 6px -3px #000000;
  position: absolute;
  width: 100%;
}
.readmor > li:hover {
  background: #eee;
}
.chatbox{
 display:none;
 }
 
.chatbox {
  background: #c9c9c9 none repeat scroll 0 0;
  border: 2px solid #577aa0;
  bottom: 0;
  height: 312px;
  margin-left: 3%;
  position: fixed;
  right: 232px;
  width: 279px;
  z-index: 999;
}
.letastchat {
  height: 250px;
}
.media-heading {
  margin-bottom: 5px;
  margin-top: 15px!important;
}
small {
  cursor: pointer;
}
small:hover{
 color:#000;
 }

.fa.fa-angle-double-down {
   bottom: 0;
  position: absolute;
  right: 0;
}
.col-md-5.topspacing {
  padding-right: 0px;
}
.tobheader {
  margin-top: 38.2%;
  width: 261px;
}
.col-md-2.topinsidebar {
  margin-top: 4%;
  padding-right: 0;
}
.panel2 li {
  list-style: outside none none;

}
.media {
  padding: 0 0 18px 1px;
}
.panel2 a {
 
  font-family: Helvetica;
  font-size: 12px;
  line-height: 33px;
  padding: 6px;
}
.panel2 > li {
  font-family: lato !important;
  font-size: 14px;
  padding: 0 0 0 3px;
  text-align: center;
}
.topmenuside > li {
  background: #dddddd none repeat scroll 0 0;
  border-bottom: 1px solid #d1d1d1;
  padding: 5px 1px 5px 0;
  text-align: center;
  list-style: none;
}
.active > a {
  color: #0196b7;
  padding: 7px 12px 0;
}
.topmenuside > li:hover{
 background:#fff;
 }
.panel2 {
  border-bottom: 1px solid #8b8b8b;
  margin-top: 49%!important;
}
.sideimages12 img {
  background: #ffffff none repeat scroll 0 0;
  float: left;
  padding: 2px 2px 0;
  width: 33%;
}
.sideimages12 > li {
  list-style: none;
}
.heading {
  padding-left: 13px;
}
.photosidebar {
  float: left;
}
.friendslistsidebar {
  float: left;
}
#boxscroll img {
  width: 100%;
}
.topspacinginside {
  margin-top: 4.5%;
}
#boxscroll img {
  width: 23%;
  min-height: 55px;
}

/*------------------------------------------------------*/
body::-webkit-likeletest {
    width: 1em!important;
}
 
body::-webkit-likeletest-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)!important;
}
 
body::-webkit-likeletest-thumb {
  background-color: darkgrey!important;
  outline: 1px solid slategrey!important;
}



/*----------------------------------------------------*/
#boxscroll > li {
  float: left;
}
.dis {
  display: block;
  float: right;
  font-family: Arial;
  font-size: 12px;
  line-height: 18px;
  padding-left: 9px;
  width: 74%;
}
#boxscroll {
  float: left;
}
#boxscroll > li {
  border-bottom: 1px solid #ededed;
  list-style: outside none none;
  padding: 4px 0;
}
.col-md-3.topspacinginside > ul {
  padding-left: 6px;
}
.pick {
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
  color: #757575;
  font-family: serif;
  font-weight: 600;
}
.pickspre > li {
  float: left;
  list-style: outside none none;
  padding: 0 20px 1px;
  text-align: center;
}
.pickspre {
  border-bottom: 1px solid #000000;
  float: left;
  padding-left: 12%;
  padding-right: 0;
  width: 100%;
}
.pickspre > li {
  border: 1px solid #9f9f9f;
  border-radius: 50%;
  color: #858585;
  height: 33px;
  margin: 6px 11px 18px;
  padding: 6px 4px 2px 3px;
  width: 33px;
}
.pickspre > li {
  cursor: pointer;
}
.pickspre > li:hover{
color:#55789E;
 } 
 .whethe {
  float: left;
  width: 100%;
}
.clickshowpic {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 1px 1px 9px 1px #000000;
  display: none;
  height: 561px;
  margin-right: 17%;
  overflow-y: auto;
  position: fixed !important;
  right: 0;
  top: 59px;
  width: 66% !important;
  z-index: 999;
   overflow-x: hidden;
}
.closepop {
  float: left;
  margin-left: -5px !important;
  margin-top: -1px;
}
.fa.fa-times {

  color: #ff0000;
  padding: 8px;
}
.col-md-2.rightsid {
  position: fixed;
  right: 0;
}
.fa.fa-times:hover {
  cursor: pointer;
  background:#D62761;
  color:#fff;
  
}
.picksprayyy img {
  float: left;
  width: 25%;
  padding: 0 0 8px 8px;
}
.picksprayyy > li {
  list-style: outside none none;
}
.picksprayyy {
  float: left;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}


.backdrop{background: #666666 none repeat scroll 0 0;
    height: 1000px;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999; display:none;}
	
.clickshowpic2 {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 1px 1px 9px 1px #000000;
  display: none;
  height: 561px;
  margin-right: 17%;
  overflow-y: auto;
  position: fixed !important;
  right: 0;
  top: 59px;
  width: 66% !important;
  z-index: 999;
   overflow-x: hidden;
}
.clickshowpic3 {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 1px 1px 9px 1px #000000;
  display: none;
  height: 561px;
  margin-right: 17%;
  overflow-y: auto;
  position: fixed !important;
  right: 0;
  top: 59px;
  width: 66% !important;
  z-index: 999;
   overflow-x: hidden;
}
.followsimg > img {
  width: 50%;
  min-height: 182px;
 
}
.followsimg {
  padding: 9px!important;
}
.fol {
  background: #eeeeee none repeat scroll 0 0;
  margin-top: 9px;
  padding-left: 0 !important;
}
.followscon {
  margin-top: 10%;
}
.followscon h4 {
  border: 2px solid #53769C;
  width: 56%;
  text-align: center;
  padding: 4px 0px 4px 0px;
  color:#53769C;
}
.followscon h4:hover{
border: 2px solid #000;
cursor:pointer;
}
/*+++++++++++++editprofile++++++++++++++++++++++*/	

.editprofile{

 margin-top: 3.9%;
}
.edit {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: rgba(0, 0, 0, 0) url("../images/editbackground.jpg") repeat scroll 0 0 / 100% auto;
  border-color: #eeeeee #eeeeee -moz-use-text-color;
  border-image: none;
  border-style: solid solid none;
  border-width: 3px 3px medium;
  box-shadow: 0 0 6px 0 #ffffff;
  margin-top: 24px;
  min-height: 146px;
}
.editpro12 {
  background: rgba(0, 0, 0, 0) url("../images/ediprof.jpg") repeat scroll 0 0 / 100% 100%;
  border: 3px solid #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 2px -1px #000000;
  margin-left: 0;
  min-height: 116px !important;
  position: absolute !important;
  top: -64px;
}
.nemeee > li {
  color: #606060;
  float: right;
  font-size: 16px;
  font-weight: 600;
  list-style: outside none none;
  margin-top: 8px;
  text-align: center;
  width: 70%;
}
.emailidddd {
  font-weight: 200 !important;
  font-size: 14px!important;
  color:#0094B8;
}
.nemeee > li {
  line-height: 16px;
}
.edittabbing {
  margin-top: 10px;
}
.edittabbing > li {
  font-family: Helvetica;
  font-size: 21px;
  padding: 8px 26px;
}
.edittabbing .active > a {
  background: none!important;
  border: none!important;
  border-left: 4px solid #0094B8!important;
}
.col-md-12.edt {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: #ffffff none repeat scroll 0 0;
  border-color: -moz-use-text-color #eeeeee #eeeeee;
  border-image: none;
  border-style: none solid solid;
  border-width: medium 2px 2px;
  height: 60px;
}
.editprofile {

  height: 237px;
  margin-top: 3.9%;
}
.changesedit {
  float: right;
  margin-right: 15px;
  color: #0094B8;
}
.rightnew {
  float: right;
  padding: 0 27px 6px 4px;
}
.editemail > li {
  background: #ffffff none repeat scroll 0 0;
  border-bottom: 1px solid #a9a9a9;
  line-height: 47px;
  list-style: outside none none;
  padding: 0 0 0 17px;
}
.editemail a {
  color: #0094B8!important;
  font-weight: 600;
}
.editemail {
  padding-left: 0px;
}
.ui-accordion-content.ui-corner-bottom.ui-helper-reset.ui-widget-content.ui-accordion-content-active {
  padding-left: 0;
}
#ui-id-6 input {
  padding: 4px 4px 4px 5px;
  width: 100%;
}
.type1 {
  font-family: helvetica;
  font-weight: 200;
  margin-top: 6px;
}
.editprofileform {
  margin-bottom: 23px;
}
.editprofileform input {
  border: 1px solid #bbbbbb;
}
.editprofileform button {
  background: #5a7da3 none repeat scroll 0 0;
  border: 1px solid #ffffff;
  border-radius: 1px;
  color: #ffffff;
  font-weight: 600;
  margin-top: 14px;
  padding: 6px 28px;
}
.selectlanguage {
  width: 100%;
  margin-top:5px;
   padding: 4px;
}
.selectlanguage {
  border: 1px solid #a7a7a7;
}
.people{
 margin-top:5px;
 }
 .still{
  width:100%;
  padding:4px;
  border: 1px solid #aaaaaa;
  }
  .privacyedit{
   margin-bottom:10px;
   }
   .backnew23{
    background:#fff;
	}
   .yesno .bootstrap-switch-container {
  float: right;
}
  
.yeiisno {
  float: right;
}
.choose{
 float:left;
 }
.getting {
  padding-left: 0px;
  padding-right: 0px;
}
.padingtop {
  background: #ffffff none repeat scroll 0 0;
  padding-top: 12px;
  border-bottom: 1px solid #848484;
}
/*__________________________________________________________________*/

#boxscroll {
	height: 340px;
	width: 100%;
	
	overflow-y: auto;
	background-color:#FFFFFF;
}

div:focus {
  outline:0;
}

.btnpage {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #123d54;
	background: -moz-linear-gradient(
		top,
		#afd9fa 0%,
		#588fad);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#afd9fa),
		to(#588fad));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #003366;
	-moz-box-shadow:
		1px 2px 5px rgba(000,000,000,1),
		inset 0px 0px 1px rgba(255,255,255,1);
	-webkit-box-shadow:
		1px 2px 5px rgba(000,000,000,1),
		inset 0px 0px 1px rgba(255,255,255,1);
	box-shadow:
		1px 2px 5px rgba(000,000,000,1),
		inset 0px 0px 1px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
}
.margintoping {
  margin-top: 4.4%;
}
.searchsidebar {
  background: #fff;
}
.searchpage > li {
 
  line-height: 25px;
  list-style: outside none none;
}
.searchpage a {
  color: #5b5b5b;
  font-size: 13px;
  padding-left: 28px;
}
.searchpage a:hover {
  font-size: 15px;
}
.clickshowagin {
  cursor: pointer;
  font-weight: 600;
  padding: 0 17px;
}
.searchpage {
  padding-left: 0;
}
.col-md-2.margintoping {
  padding-right: 0px;
}
.searchpage {
  border: 1px solid #d3d3d3;
}
.searchpage {
  border: 1px solid #d3d3d3;
  margin-bottom: 0px;
  border-bottom: none;
}
.clickshowagin {
  padding: 0 17px;
}
.searchpage.checkthis li {
  padding: 0 0 0 15px;
  list-style: none;
  font-size: 13px;
  line-height: 26px;
}
.ri {
  float: right;
  font-size: 12px;
  font-weight: 600;
  margin-right: 13px;
}
.searching > li {
  border-right: 1px solid #eeeeee;
  float: left;
  list-style: outside none none;
  padding: 7px 37px;
}
.searching {
  background: #ffffff none repeat scroll 0 0;
  float: left;
  padding-left: 0;
}
.searching > li:hover {
  border-bottom: 2px solid #0196B7;
}
.messages img {
  border-radius: 50%;
  float: left;
  height: 68px;
  
  width: 68px;
}
.messages span {
  color: #3d3d3d;
  float: right;
  font-size: 13px;
  width: 75%;
}
.messages > li {
  float: left;
  list-style: outside none none;
  padding-bottom: 10px;
  padding-top: 10px;
}
.messages {
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 0 1px 0 #7c7c7c;
  float: left;
  padding-left: 12px;
}
.messagesearch {
  background: #0196b7 none repeat scroll 0 0;
  padding: 13px 3px 13px 7px;
}

.messagesearch input {
  background: none;
  border: none;
}
.messagesearch button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  float: right;
  font-size: 23px;
  margin-right: 11px;
  margin-top: 0;
}
.messagesearch input {
  font-size: 18px;
  padding: 6px 0 6px 4px;
  width: 82%;
}
.messagesearch input:focus {
  color: #fff;
}
.reply img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.reply li {
  list-style: none;
}
.reply > ul {
  padding-left: 0px;
}
.reply span {
  float: right;
  width: 86%;
}
.reply li {
  border-bottom: 1px solid #bbbbbb;
  padding-bottom: 6px;
}
.reply span {
  font-size: 13px;
}
.reply strong {
  font-size: 17px;
  color: #4c4c4c;
}

.reply .fa.fa-plus {
  margin-left: 18%;
}
.reply .fa.fa-plus {
  color: #636363;
  font-size: 17px;
  margin-left: 23%;
}
.fa.fa-ellipsis-h {
  cursor: pointer;
}
.fa.fa-plus {
  cursor: pointer;
}
.replybox {
  background: #f5f5f5 none repeat scroll 0 0;
  border: 1px solid #c9c9c9;
  float: left;
  padding-bottom: 4px;
}
.replybox li {
  list-style: none;
  padding-top:10px;
}
.iconimgs > li {
  float: left;
  margin-left: 18px;
}
.iconimgs {
  float: right;
  margin-right: 24px;
}
.col-md-3.topspacinginside img {
  width: 20%;
}
.col-md-3.topspacinginside li {
  list-style: none;
}
.tending {
  box-shadow: 0 0 2px 0 #797979;
  
}
.col-md-12.uploadthis {
  box-shadow: 0 0 2px 0 #888888;
}
.profile-box {
  box-shadow: 0 0 2px 0 #888888;
}
.costomize {
   box-shadow: 0 0 2px 0 #888888;
}
.views1 {
  background: #E7E7E7;
}
.upbackground {
   box-shadow: 0 0 2px 0 #888888;
}
.backgroundnewone {
  background: #fff;
  padding: 5px;
   box-shadow: 0 0 2px 0 #888888;
}
.tending.tendingnew {
  margin-top: 8px;
}
.likethis.meeto > li {
  float: right;
}
.leftnew {
  float: left!important;
}
.vv > li {
  border: 1px solid #d4d4d4;
  padding: 2px 2px 2px 9px;
  width: 145px;
}

.likethis.meeto > li {
  color: #7e7e7e;
}
.col-md-10.comment12 {
  float: right;
  margin-top: 7px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 7px;
}
.col-md-10.comment12 input {
  background: #fff!important;
}
.commentandrecomment img {
  height: 50px;
  width: 54px;
  padding: 4px;
}
.commentandrecomment {
  background: #ffffff none repeat scroll 0 0;
  margin-top: 8px;
  padding-left: 0;
}
.hrs {
  float: right;
  margin-right: 13px;
  margin-top: 8px;
}
.replylest {
  margin-left: 14%;
  margin-top: 10px;
}
.btn.success.dropdown-toggle {
  border: 1px solid;
}
.rightaline {
  float: right !important;
  margin-right: 10px;
}
.btn {

  padding: 0px 5px!important;

}
.ui-accordion-content.ui-corner-bottom.ui-helper-reset.ui-widget-content.ui-accordion-content-active {
  border: 1px solid #bcbcbc;
}
.backgroundnewone img {
  width: 50px;
  height: 50px;
}
.col-md-3.profile {
  margin-top: 15px;
  padding-left: 0;
  padding-right: 0;
}
.backgroundnewone > li {
  list-style: outside none none;
  margin-top: 4px;
}
.col-md-9.timeline.top {
  padding-left: 0px;
}
.profileimg > img {
  margin-left: 14px;
}
p {
  font-family: arial !important;
  font-size: 15px !important;
}
.commentandrecomment > p {
  float: right;
  width: 87%;
  font-size: 13px!important;
  margin-top: -17px;
}
.profilespacing {
  background: #fff;
  margin-top: 8px;
}
.col-md-12.profilespacing {
  padding-left: 0px;
  padding-right: 0px;
}
.rating {
  margin-top: -7px!important;
  color: #0393DA;
}
.indus {
  float: right;
  font-size: 14px;
  margin-top: -18px;
  width: 74%;
}

.replyrating {
  margin-left: 26%;
  color:#0393DA;
}
aside {
  background: #EEEEEE none repeat scroll 0 0;
}
.messagesend{
 background:#fff;
 }
 .col-md-12.messagesend {
  padding-left: 0px;
  padding-right: 0px;
}
.reply {
  background: #eaebef none repeat scroll 0 0;
    margin-top: 4px;
}
.oldmessa img {
  float: left;
  height: 50px;
  width: 50px;
}
.min{
 float:right;
 }
 .oldmessa {
  padding-left: 5px;
  margin-top: 5px;
}
.min {
  float: right;
  margin-right: 10px;
}
.oldmessa > li {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #cfcfcf;
  float: right;
  font-size: 13px;
  margin-right: 5px;
  padding: 9px;
  width: 89%;
}
.hiborder {
  border-top: none!important;
}
.oldmessa.oldrep > img {
  float: right;
  margin-right: 3px;
}
.oldmessa.oldrep {
  padding-left: 2px;
}
.col-md-12.messagesend {
  box-shadow: 0 0 1px 0px #616161;
}

.col-md-9.col-md-offset-1 {
  float: right;
}
.nav.nav-tabs.edittabbing {
  background: #eeeeee none repeat scroll 0 0;
  box-shadow: 0 0 2px 0 #4b4b4b;
  float: left;
  margin-top: 37%;
  width: 264px;
}
.ui-accordion.ui-widget.ui-helper-reset {
  box-shadow: 0 0 1px 0px #818181;
}
.messagesearch .fa.fa-search {
  color: #fff;
}


.messagesearch ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
.messagesearch :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
.messagesearch ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
.messagesearch :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}
.commentandrecomment {
  box-shadow: 0 0 1px 0px #757575;
  padding-bottom: 13px;
}

.jjjj .dis {
  display: block;
  float: right;
  font-family: Arial;
  font-size: 13px;
  width: 75%;
}
.pro {
  float: right;
  padding-left: 0;
}

.friends li {
  float: left;
  list-style: outside none none;
  margin-left: 2%;
  margin-top: 13px;
  padding-left: 18px;
}
aside {
  width: 261px;
}
.col-md-7.cover {
  margin-left: -62px;
  width: 63%;
}
.homeprofilepic {
  text-align: center;
}
.founder > li {
  line-height: 30px;
  list-style: outside none none;
  padding-left: 7px;
}
.topinsidebar {
  margin-top: 3.5%;
}
.col-md-5.topspacing.homecover {
  margin-left: -5%;
}
.jjjj .backgroundnewone {
  width: 86%;
}
.reply {
  box-shadow: 0 0 1px 0 #767676;
}
.has-error strong{font-size:12px; line-height: 50px;}
.help-block{margin-bottom: 0px;}
.checkbox input[type=checkbox]{ position: relative;margin-left: 0px;}