
@import url('bootstrap.min.css');
@import url('hoe-overlay-effect.css');
@import url('hoe-push-effect.css');
@import url('hoe-shrink-effect.css');
@import url('hoe-rightsidebar.css');
@import url('hoe-horizontal-navigation.css');
@import url('hoe-theme-color.css');
@import url('extra.css');
@import url('header.css');

body,html {
    
}
body{position:relative;}
#hoeapp-wrapper a:focus {
    outline: none;
}


/************************* neeraj Style Start Here *********************************/
#hoe-left-panel {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
  color: #5c5c5c;
  float: left;
  position: absolute;
  top: 6px;
  z-index: 100;
}
.profile-box {
  background: #fff;
}
.likeletest > li {
  list-style: outside none none;
}
.likeletest {
  padding-left: 0;
}
#hoe-left-panel .profile-box {
  height: auto;
  min-height: 50px;
  padding: 4px;
  position: relative;
}

#hoe-left-panel .profile-box .media a img {
  height: 80px;
  width: 80px;
}

#hoe-left-panel .profile-box .media {
    position: relative;
}
#hoe-left-panel .profile-box .media a {
    margin-top: 2px;
}
#hoe-left-panel .profile-box .media a > img {
  border: 1px solid #8d8d8d;
}

#hoe-left-panel ul {
    margin: 0;
    padding: 0;
}
#hoe-left-panel .nav-level {
    padding: 5px 15px;
   
    font-weight: bold;
}
#hoe-left-panel .panel-list > li.hoe-has-menu > ul.hoe-sub-menu {
  list-style: none;}

#hoe-left-panel .nav-level:first-child {
    border-top: 0px solid #efefef;
}
#hoe-left-panel .panel-list > li > a {
  color: #000000;
  font-size: 13px;
  font-weight: 500;
}
aside {
  margin-top: 7px;
}

#hoe-left-panel .panel-list > li:last-child > a {
    border-bottom: 1px solid #efefef;
}
#hoe-left-panel .panel-list > li:first-child > a {
    border-top: 0px solid #efefef;
}
#hoe-left-panel .panel-list > li > a:hover,
#hoe-left-panel .panel-list > li > a:focus {
    color: #000;
    background: #f1f1f1;
}
#hoe-left-panel .panel-list > li.active > a {
    background: #f1f1f1;
    border-top: 1px solid #efefef;
    color: #000;
}
#hoe-left-panel .panel-list > li > a > i {
    display: inline;
    font-size: 14px;
    padding-right: 6px;
}
#hoe-left-panel .panel-list > li > a span.menu-text {
    display: inline-block;
}
#hoe-left-panel .panel-list > li.hoe-has-menu > a:after {
    font-family: FontAwesome;
    content: "\f107";
    font-size: 15px;
    position: relative;
    float: right;
}
#hoe-left-panel .panel-list > li.hoe-has-menu.opened > a {
    background: #f1f1f1;
    color: #000;
}
#hoe-left-panel .panel-list > li.hoe-has-menu.opened > a:after {
    font-family: FontAwesome;
    content: "\f106" !important;
    font-size: 15px;
    float: right;
    position: relative;
}
#hoe-left-panel .panel-list > li.hoe-has-menu li.hoe-has-menu > a:after {
    font-family: FontAwesome;
    content: "\f103";
    font-size: 15px;
    position: relative;
    float: right;
}
#hoe-left-panel .panel-list > li.hoe-has-menu li.hoe-has-menu.opened > a:after {
    font-family: FontAwesome;
    content: "\f102";
    font-size: 15px;
    position: relative;
    float: right;
}
#hoe-left-panel .panel-list ul {
    background: #fafafa;
    box-shadow: -1px 2px 3px 0px rgba(0, 0, 0, 0.2);
}
#hoe-left-panel .panel-list ul.hoe-sub-menu li > a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #c9c9c9;
  display: block;
  font-size: 13px;
  font-weight: 500;
  padding: 10px;
  position: relative;
}
#hoe-left-panel .panel-list > li.hoe-has-menu > ul.hoe-sub-menu {
    display: none;
}
#hoe-left-panel .panel-list li.hoe-has-menu > ul.hoe-sub-menu li > a:hover,
#hoe-left-panel .panel-list li.hoe-has-menu > ul.hoe-sub-menu li > a:focus {
    text-decoration: none;
    color: #000;
    background: #f1f1f1;
}
#hoe-left-panel .panel-list > li.hoe-has-menu > ul ul {
    display: none;
}
#hoe-left-panel .panel-list > li.hoe-has-menu.opened > ul {
    display: block;
}
#hoe-left-panel .panel-list > li.hoe-has-menu.opened > ul > li.hoe-has-menu.opened > ul {
    display: block;
}
#hoe-left-panel .panel-list > li.hoe-has-menu.opened > ul > li.hoe-has-menu.opened > ul > li.hoe-has-menu.opened > ul {
    display: block;
}

#hoe-left-panel .panel-list > li.hoe-has-menu.active > ul {
    display: block;
}
#hoe-left-panel .panel-list > li.hoe-has-menu.active > ul > li.hoe-has-menu.active > ul {
    display: block;
}
#hoe-left-panel .panel-list > li.hoe-has-menu.active > ul > li.hoe-has-menu.active > ul > li.hoe-has-menu.active > ul {
    display: block;
}
#hoe-left-panel .panel-list > li.hoe-has-menu > ul > li > a span.menu-text {
    padding-left: 15px;
    position: relative;
}
#hoe-left-panel .panel-list > li.hoe-has-menu > ul.hoe-sub-menu {

  list-style: outside none none;
}
#hoe-left-panel .panel-list > li.hoe-has-menu  li.hoe-has-menu > ul.hoe-sub-menu {

  list-style: outside none none;
}
#hoe-left-panel .panel-list > li.hoe-has-menu > ul.hoe-sub-menu {

  list-style: outside none none;

}
#hoe-left-panel .panel-list > li.hoe-has-menu > ul > li.hoe-has-menu > ul > li > a span.menu-text {
    padding-left: 25px;
    position: relative;
}
#hoe-left-panel .panel-list > li.hoe-has-menu > ul > li.hoe-has-menu > ul > li > ul > li > a span.menu-text {
    padding-left: 35px;
    position: relative;
}
#hoe-left-panel .panel-list > li.hoe-has-menu > ul > li.hoe-has-menu > ul > li > ul > li > ul > li > a span.menu-text {
    padding-left: 40px;
    position: relative;
}
#hoe-left-panel .panel-list > li.hoe-has-menu > ul.hoe-sub-menu > li > a span.menu-text:before {
    font-family: FontAwesome;
    content: "\f0da";
    font-size: 14px;
    position: relative;
    float: left;
    left: 4px;
}
#hoe-left-panel .panel-list > li.hoe-has-menu > ul.hoe-sub-menu > li.hoe-has-menu > ul.hoe-sub-menu > li > a span.menu-text:before {
    font-family: FontAwesome;
    content: "\f0da";
    font-size: 12px;
    position: relative;
    float: left;
    left: 15px;
}
#hoe-left-panel .panel-list > li.hoe-has-menu > ul.hoe-sub-menu > li.hoe-has-menu > ul.hoe-sub-menu > li > a span.menu-text:before {
    font-family: FontAwesome;
    content: "\f0da";
    font-size: 14px;
    position: relative;
    float: left;
    left: 18px;
}
#hoe-left-panel .panel-list > li.hoe-has-menu > ul.hoe-sub-menu > li.hoe-has-menu > ul.hoe-sub-menu > li.hoe-has-menu > ul.hoe-sub-menu > li > a span.menu-text:before {
    font-family: FontAwesome;
    content: "\f0da";
    font-size: 12px;
    position: relative;
    float: left;
    left: 30px;
}
#hoe-left-panel .panel-list li.active > a .selected {
    border-bottom: 7px solid transparent;
    border-right: 7px solid #7e7e7e;
    border-top: 7px solid transparent;
    display: inline-block;
    height: 0;
    position: absolute;
    right: 0;
    top: 13px;
    vertical-align: middle;
    width: 0;
}
#hoe-left-panel .panel-list li.hoe-has-menu.active > a .selected {
    display: none;
}
#hoe-left-panel .panel-list li a .label {
    border-radius: 0.25em;
    color: #7e7e7e;
    display: inline;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    padding: 4px 3px;
    position: absolute;
    right: 10px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}
.sul {
    background-color: #ebebeb;
}

#hoe-left-panel[hoe-position-type="relative"] {
    position: relative;
}
#hoe-left-panel[hoe-position-type="absolute"] {
    position: absolute;
}
#hoe-left-panel[hoe-position-type="fixed"] {
    position: fixed;
	top:50px;
}
.notshow{
 display:none;
 }
.closeside {
  color: #ff0000;
  font-size: 17px;
  padding: 8px 7px 22px 15px;
  position: absolute;
  right: 0;
  z-index: 99999;
  cursor:pointer;
}
.fa.fa-times {
  margin-left: -10px;
}
/********************************** neeraj Style Close Here ******************************/



